body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* React components */
.app {
  display: flex;
  width: 100%;
}

.tabsBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
}

.tab {
  min-height: 2em;
  display: flex;
  align-items: center;
  border: solid #dddddd;
  border-radius: 8px;
}

.left {
  flex-basis: 2em;
}

img {
  max-height: 1.5em;
}


/* UI state effects */
.todropon{
  background-color: #8f8f8f;
}

.moved {
  background-color: rgb(68, 146, 58)
}

.tab * { /* Prevent children of Tab from causing dragLeave events */
  pointer-events: none;
}


/* React Check component */
/* References: css.gg/check-o
               https://codepen.io/androidcss/pen/yOopGp */
.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 0px solid;
  border-radius: 100px;
}

.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.gg-check-o:hover {
  background-color: #ddbb33;
  bottom: 42px;
  right: 42px;
}
.gg-check-o:active {
  bottom: 40px;
  right: 40px;
}

.float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}